@font-face {
  font-family: Ubuntu;
  src: url("../fonts/Ubuntu-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Ubuntu;
  src: url("../fonts/Ubuntu-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Ubuntu;
  src: url("../fonts/Ubuntu-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Ubuntu;
  src: url("../fonts/Ubuntu-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
