@import "nullstyle.css";

@import "fonts.css";

* {
  font-family: Ubuntu;
  font-style: italic;
  font-weight: 300;
}

html {
  font-size: 1.2vw;
  color: #CCC
}

body {
  font-size: 1rem;
  background: rgb(51,34,51);
  background: -moz-linear-gradient(225deg, rgba(51,34,51,1) 0%, rgba(34,34,51,1) 100%);
  background: -webkit-linear-gradient(225deg, rgba(51,34,51,1) 0%, rgba(34,34,51,1) 100%);
  background: linear-gradient(225deg, rgba(51,34,51,1) 0%, rgba(34,34,51,1) 100%);
}

div.main {
  width: 100%
}

div.container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 2% 5% 0 5%;
}

div.panel {
  display: flex;
  flex-direction: column;
}

div.panel.left {
  width: 25%;
}

div.panel.right {
  width: 25%;
}

div.panel.center {
  width: 50%;
}

div.condition_gans {
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

div.radiators {
  margin-top: 1.5rem;
}

div.radiator_box {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

div.radiator, img {
  position: relative;
  display: inline;
}

div.radiator img {
  height: 3rem;
  top: -1rem;
}

span.text_over_img {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(-0.4rem);
  background: rgba(0,255,0,0.9);
  border: 0.15rem solid #19192A;
  border-radius: 0.5rem;
  padding: 0.5rem 0 0.5rem 0;
  width: 2rem;
  text-align: center;
  color: #19192A;
  font-size: 0.5rem;
}

span.text_over_img.on {
  background: rgba(0,255,0,0.9);
}

span.text_over_img.off {
  background: rgba(150,150,100,0.9);
}

span.text_over_img.err {
  background: rgba(255,0,0,0.9);
}

span.text_over_img.p_3 {
  left: 3%;
}

span.text_over_img.p_15 {
  left: 15%;
}

span.text_over_img.p_25 {
  left: 25%;
}

span.text_over_img.p_42 {
  left: 42%;
}

span.text_over_img.p_50 {
  left: 50%;
}

div.connections {
  margin: 1rem 0 1rem 0;
}

div.connection_boxes {
  margin-top: 1rem;
}

div.connection_box {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

h3 {
  display: inline;
}

input[type=text] {
  height: 2rem;
  background: #444466;
  border: 0.15rem solid #19192A;
  border-radius: 1rem;
  padding: 0.15rem 0.8rem 0.15rem 0.8rem;
  color: #CCC
}

input[type=text]:focus {
  border-color: #CCC;
  box-shadow: 0 0 0.3rem #CCC;
}

div.connection_box input[type=text] {
  width: 12rem;
  position: relative;
  top: -0.5rem;
}

div.btns {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

button {
  background: #444466;
  padding: 1rem;
  border-radius: 1.5rem;
  border: 0.15rem solid #19192A;
}

button:hover {
  background: #666699;
}

button:active {
  background: #444466;
  transform: translateY(0.2rem);
}

div.map_img {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

div.map_img img {
  height: 30rem;
}

div.condition_pa {
  margin-bottom: 1rem;
}

div.pa_img, img {
  position: relative;
  display: inline;
  display: flex;
  justify-content: center;
}

div.pa_img img {
  height: 4rem;
  top: 1rem;
}

div.preferences {
  margin-top: 1rem;
}

div.preference {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

div.preference input[type=text] {
  width: 4rem;
  position: relative;
  top: -0.5rem;
}

input[type=range] {
  width: 10rem;
  position: relative;
  top: -0.5rem;
}

input.march_text {
  margin-left: 0.8rem;
}

input.course_text {
  margin-left: 1.5rem;
}

input.lag_text {
  margin-left: 2rem;
}

div.preferences_box {
  margin-top: 1rem;
}

div.pa_img span.text_over_img {
  top: 50%;
  transform: translateY(0);
}
