@import "nullstyle.css";

@import "fonts.css";

* {
  font-family: Ubuntu;
  font-style: italic;
  font-weight: 300;
}

html {
  font-size: 1.2vw;
  color: #CCC
}

body {
  font-size: 1rem;
  background: rgb(51,34,51);
  background: -moz-linear-gradient(225deg, rgba(51,34,51,1) 0%, rgba(34,34,51,1) 100%);
  background: -webkit-linear-gradient(225deg, rgba(51,34,51,1) 0%, rgba(34,34,51,1) 100%);
  background: linear-gradient(225deg, rgba(51,34,51,1) 0%, rgba(34,34,51,1) 100%);
}

div.main {
  width: 100%
}

div.container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 99%;
  padding: 1rem 2rem 0 2rem;
}

div.panel {
  display: flex;
  flex-direction: column;
}

div.panel.left {
  width: 25%;
}

div.panel.right {
  width: 30%;
}

div.panel.center {
  width: 45%;
}

div.condition_gans {
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

div.radiators {
  margin-top: 1.5rem;
}

div.radiator_box {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

div.radiator, img {
  position: relative;
  display: inline;
}

div.radiator img {
  height: 3rem;
  top: -1rem;
}

span.text_over_img {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(-0.4rem);
  background: rgba(0,255,0,0.9);
  border: 0.15rem solid #19192A;
  border-radius: 0.5rem;
  padding: 0.5rem 0 0.5rem 0;
  width: 2rem;
  text-align: center;
  color: #19192A;
  font-size: 0.5rem;
}

span.text_over_img.on {
  background: rgba(0,255,0,0.9);
}

span.text_over_img.off {
  background: rgba(150,150,100,0.9);
}

span.text_over_img.err {
  background: rgba(255,0,0,0.9);
}

div.connections {
  margin: 1rem 0 1rem 0;
}

div.connection_boxes {
  margin-top: 1rem;
}

div.connection_box {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

h3 {
  display: inline;
}

input[type=text] {
  height: 2rem;
  background: #444466;
  border: 0.15rem solid #19192A;
  border-radius: 1rem;
  padding: 0.15rem 0.8rem 0.15rem 0.8rem;
  color: #CCC
}

input[type=text]:focus {
  border-color: #CCC;
  box-shadow: 0 0 0.3rem #CCC;
}

div.connection_box input[type=text] {
  width: 12rem;
  position: relative;
  top: -0.5rem;
}

div.btns {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

button {
  background: #444466;
  padding: 1rem;
  border-radius: 1.5rem;
  border: 0.15rem solid #19192A;
}

button:hover {
  background: #666699;
}

button:active {
  background: #444466;
  transform: translateY(0.2rem);
}

div.map_img {
  margin: 1rem 3rem 0 3rem;
  width: 30rem;
  display: flex;
  justify-content: center;
  position: relative;
}

div.map_img img {
  height: 30rem;
}

div.condition_pa {
  display: flex;
  justify-content: space-between;
}

div.pa, img {
  position: relative;
  display: inline;
  display: flex;
  justify-content: left;
}

div.pa img {
  height: 33rem;
  top: 1rem;
}

div.pa span.text_over_img {
  left: 2.25rem;
}

.disabled {
  pointer-events: none;
  opacity: 0;
}

div.marker {
  height: 3rem;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 30rem;
}

div.marker img {
  height: 3rem;
  rotate: 0deg;
  top: 0rem;
  left: 0rem;
  transform: translateX(-50%) translateY(-50%);
}

div.menu {
  position: absolute;
  top: 0%;
  left: 35%;
}

button.menu_but {
  position: relative;
  background: rgba(0,255,0,0.9);
  border-radius: 0.5rem;
  padding: 0.5rem 0 0.5rem 0;
  width: 2rem;
  text-align: center;
  color: #19192A;
  font-size: 0.5rem;
}

button.menu_but.on {
  background: rgba(0,255,0,0.9);
}

button.menu_but.off {
  background: rgba(150,150,150,0.9);
}

button.menu_but.err {
  background: rgba(255,0,0,0.9);
}

button.menu_but:hover {
  background: rgba(150,150,150,0.9);
}

button.menu_but:active {
  transform: translateY(0.1rem);
}

div.menu_box {
  position: absolute;
  top: 0%;
  left: 4rem;
  background: #19192A;
  width: 18rem;
  border-radius: .5rem;
  padding: .5rem 0 .5rem .5rem;
}

div.control input[type=text] {
  width: 3.8rem;
  margin-left: 0.3rem;
}

div.control input[type=text][name=march_text] {
  margin-left: 1.1rem;
}

div.control input[type=text][name=course_text] {
  margin-left: 1.7rem;
}

div.control input[type=text][name=lag_text] {
  margin-left: 2.2rem;
}

div.control input[type=range] {
  transform: translateY(0.2rem);
  width: 5.9rem;
}

div.preferences {
  width: 15rem;
  padding: .5rem;
}

div.variable {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.variable:nth-child(2) {
  margin-top: 1rem;
}

h3.figure {
  background: #444466;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  border: 0.15rem solid #19192A;
  border-radius: .7rem;
  margin-left: .2rem;
  font-style: normal;
}

h3.figure:first-child {
  margin-left: 0;
}

h3.figure:hover {
  background: #666699;
}