body {
  background-color: #222233;
  width: 100%;
  height: 100%;
  font-family: "Trebuchet MS", sans-serif;
  color: #CCCCCC;
}

table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

h2 {
  text-align: center;
  font-weight: lighter;
  font-style: italic;
  font-size: 18px;
  margin-top: 10%;
  margin-bottom: 10%;
}

input {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  background-color: #444466;
  border: 2px solid #000000;
  border-radius: 6px;
  color: #CCCCCC;
}

button {
  width: 60px;
  height: 36px;
  margin-left: 25%;
  margin-right: auto;
  background-color: #444466;
  border: 2px solid #000000;
  border-radius: 6px;
  color: #CCCCCC;
  font-weight: bold;
  font-size: 18px;
}

button:active {
  background-color: #666699;
}

div#text_over_img {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.text_over_img_on {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background: rgb(0, 255, 0);
  padding: 4%;
  color: #222233;
  font-weight: lighter;
  font-size: 75%;
  border: 2px solid black;
  border-radius: 6px;

}

.text_over_img_err {
  position: absolute;
  top: 0%;
  background: rgb(255, 0, 0);
  padding: 4%;
  color: #222233;
  font-weight: lighter;
  font-size: 75%;
  border: 2px solid black;
  border-radius: 6px;
}

.text_over_img_off {
  position: absolute;
  top: 12%;
  background: rgb(150, 150, 150);
  padding: 4%;
  color: #222233;
  font-weight: lighter;
  font-size: 75%;
  border: 2px solid black;
  border-radius: 6px;
}

div#left {
  left: 25%;
}

div#center {
  left: 50%;
}

div#right {
  left: 75%;
}

img {
  width: 100%;
}
