<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <title>Control Panel</title>
</head>
<body>
<div class="main">
    <div class="container">
        <div class="panel left">
            <div class="condition_gans">
                <h2>Состояние ГАНС</h2>
                <div class="radiators">
                    <div class="radiator_box">
                        <h3>МИ1</h3>
                        <div class="radiator">
                            <img src="../static/img/radiator.png" alt="Image Not Found">
                            <span class="text_over_img on p_25">ИЗ</span>
                            <span class="text_over_img on p_50">МК</span>
                        </div>
                    </div>
                    <div class="radiator_box">
                        <h3>МИ2</h3>
                        <div class="radiator">
                            <img src="../static/img/radiator.png" alt="Image Not Found">
                            <span class="text_over_img on p_25">ИЗ</span>
                            <span class="text_over_img on p_50">МК</span>
                        </div>
                    </div>
                    <div class="radiator_box">
                        <h3>МИ3</h3>
                        <div class="radiator">
                            <img src="../static/img/radiator.png" alt="Image Not Found">
                            <span class="text_over_img on p_25">ИЗ</span>
                            <span class="text_over_img on p_50">МК</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="connections">
                <h2>Рабочие частоты</h2>
                <div class="connection_boxes">
                    <div class="connection_box">
                        <h3>Ч1 (МИ1)</h3>
                        <input type="text" id="mi1" name="mi1" value="">
                    </div>
                    <div class="connection_box">
                        <h3>Ч2 (МИ2)</h3>
                        <input type="text" name="mi2" value="">
                    </div>
                    <div class="connection_box">
                        <h3>Ч3 (МИ3)</h3>
                        <input type="text" name="mi3" value="">
                    </div>
                    <div class="connection_box">
                        <h3>ЧП (ПА)</h3>
                        <input type="text" name="pa" value="">
                    </div>
                </div>
            </div>
            <div class="btns">
                <div class="btn">
                    <button type="button" id="on" name="button1">ВКЛ</button>
                </div>
                <div class="btn">
                    <button type="button" id="off" name="button2">ВЫКЛ</button>
                </div>
            </div>
        </div>
        <div class="panel center">
            <div class="map">
                <h2>Навигационная карта</h2>
                <div class="map_img">
                    <img src="../static/img/map.png" alt="Image Not Found">
                    <div class="marker">
                        <img src="../static/img/marker.png" alt="Image Not Found">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel right">
            <div class="condition_pa">
                <h2>Состояние ПА</h2>
                <div class="pa_img">
                    <img src="../static/img/submarine.png" alt="Image Not Found">
                    <span class="text_over_img on p_3">ГАС</span>
                    <span class="text_over_img on p_15">ВМА1</span>
                    <span class="text_over_img on p_25">ВМА2</span>
                    <span class="text_over_img on p_42">МК</span>
                </div>
            </div>
            <div class="preferences">
                <h2>Параметры</h2>
                <div class="preferences_box">
                    <form>
                        <div class="preference">
                            <h3>Марш</h3>
                            <input type="text" name="march_text" value="0"
                                   oninput="this.form.march_range.value=this.value">
                            <input type="range" name="march_range" min="0" max="100" value="0" step="1"
                                   oninput="this.form.march_text.value=this.value">
                        </div>
                        <div class="preference">
                            <h3>Глубина</h3>
                            <input type="text" name="depth_text" value="0"
                                   oninput="this.form.depth_range.value=this.value">
                            <input type="range" name="depth_range" min="0" max="100" value="0" step="1"
                                   oninput="this.form.depth_text.value=this.value">
                        </div>
                        <div class="preference">
                            <h3>Курс</h3>
                            <input type="text" name="course_text" value="0"
                                   oninput="this.form.course_range.value=this.value">
                            <input type="range" name="course_range" min="0" max="100" value="0" step="1"
                                   oninput="this.form.course_text.value=this.value">
                        </div>
                        <div class="preference">
                            <h3>Лаг</h3>
                            <input type="text" name="lag_text" value="0" oninput="this.form.lag_range.value=this.value">
                            <input type="range" name="lag_range" min="0" max="100" value="0" step="1"
                                   oninput="this.form.lag_text.value=this.value">
                        </div>
                        <h2 id="data"></h2>
                    </form>
                </div>
            </div>
            <div class="change_dir_engines">
                <h2>Направление двигателей</h2>
                <div class="engines">
                    <div class="engine">
                        <h3>Д1</h3>
                        <button type="button" name="d1" class="change_dir">Прямое ➤</button>
                        <div class="change_dir_part_box disabled">
                            <button type="button" name="forward" class="change_dir_part active">Прямое</button>
                            <button type="button" name="backward" class="change_dir_part">Реверсное</button>
                            <button type="button" name="off" class="change_dir_part">Выкл</button>
                        </div>
                    </div>
                    <div class="engine">
                        <h3>Д2</h3>
                        <button type="button" name="d2" class="change_dir">Прямое ➤</button>
                        <div class="change_dir_part_box disabled">
                            <button type="button" name="forward" class="change_dir_part active">Прямое</button>
                            <button type="button" name="backward" class="change_dir_part">Реверсное</button>
                            <button type="button" name="off" class="change_dir_part">Выкл</button>
                        </div>
                    </div>
                    <div class="engine">
                        <h3>Д3</h3>
                        <button type="button" name="d3" class="change_dir">Прямое ➤</button>
                        <div class="change_dir_part_box disabled">
                            <button type="button" name="forward" class="change_dir_part active">Прямое</button>
                            <button type="button" name="backward" class="change_dir_part">Реверсное</button>
                            <button type="button" name="off" class="change_dir_part">Выкл</button>
                        </div>
                    </div>
                    <div class="engine">
                        <h3>Д4</h3>
                        <button type="button" name="d4" class="change_dir">Прямое ➤</button>
                        <div class="change_dir_part_box disabled">
                            <button type="button" name="forward" class="change_dir_part active">Прямое</button>
                            <button type="button" name="backward" class="change_dir_part">Реверсное</button>
                            <button type="button" name="off" class="change_dir_part">Выкл</button>
                        </div>
                    </div>
                    <div class="engine">
                        <h3>Д5</h3>
                        <button type="button" name="d5" class="change_dir">Прямое ➤</button>
                        <div class="change_dir_part_box disabled">
                            <button type="button" name="forward" class="change_dir_part active">Прямое</button>
                            <button type="button" name="backward" class="change_dir_part">Реверсное</button>
                            <button type="button" name="off" class="change_dir_part">Выкл</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/scripts.js"></script>
<script>
    function gett(){
        $.ajax({
      url: "/data-deg",
      type: "get",

      success: function(response) {
        $('#data').text(response['message']);
      },
      error: function(xhr) {
        //Do Something to handle error
      }
    });
}
 $(document).ready(function(){
            gett();
            setInterval('gett()',500);
        });
</script>
</body>
</html>